
    <div class='navbar navbar-inverse'>
        <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>

          <ul class='nav navbar-nav'>

            <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
              <a [routerLink]='["/"]' (click)='collapse()'>Home</a>
            </li>

            <li [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/counter"]' (click)='collapse()'>Counter</a>
            </li>

            <li [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/fetch-data"]' (click)='collapse()'>Fetch data</a>
            </li>

            <li [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/typing"]' (click)='collapse()'>Typing</a>
            </li>

          </ul>

        </div>
    </div>
