@model RazorMVC.UI.Models.Book

@{
    ViewData["Title"] = "Type";
}


<h1 class="aftertype" id="typed_content"></h1>
<h1 class="beforetype" id="book_content">@Model.Content</h1>

<small><b>@Model.Title</b> by @Model.Author</small>

<div class="alert alert-primary">
    keycode: "<span id="kc"></span>"<br />
    first char: "<span id="fc"></span>"
</div>

<script type="text/javascript">
    document.onkeypress = function (e) {
        e = e || window.event;

        var book_content = document.getElementById('book_content').textContent;
        //book_content = $('#book_content').textContent;

        document.getElementById('kc').innerHTML = String.fromCharCode(e.keyCode);
        document.getElementById('fc').innerHTML = book_content.charAt(0);


        if (String.fromCharCode(e.which /*|| e.keyCode*/) === book_content.charAt(0)) {   

            document.getElementById('typed_content').innerHTML += book_content.charAt(0);
            document.getElementById('book_content').innerHTML = book_content.substr(1);

            if (document.getElementById('book_content').innerHTML === '') {
                // ToDo - przekierowanie do metody akcji => do następnej puli tekstu
                // window.location.replace($('.report-selector option:selected').data('url')); // jquery // url - jakoś trzeba go budować w modelu
            }
        }        
    };

    //document.onkeypress = function (evt) { // wzór
    //    evt = evt || window.event;
    //    var charCode = evt.which || evt.keyCode;
    //    var charTyped = String.fromCharCode(charCode);
    //    alert("Character typed: " + charTyped);
    //};
</script>





// ToCheck: https://www.youtube.com/watch?v=_Szdctv38Ow
