@model RazorMVC.UI.Models.Book

@{
    ViewData["Title"] = "Type";
}


<h2 id="typed_content"></h2>
<h1 id="book_content">@Model.Content</h1>

<small><b>@Model.Title</b> by @Model.Author</small>

<div class="alert alert-primary">
    keycode: "<span id="kc"></span>"<br />
    first char: "<span id="fc"></span>"
</div>

<script type="text/javascript">
    document.onkeypress = function (e) {
        e = e || window.event;

        var book_content = document.getElementById('book_content').textContent;
        //$(#book_content).textContent;

        document.getElementById('kc').innerHTML = String.fromCharCode(e.keyCode);
        document.getElementById('fc').innerHTML = book_content.charAt(0);

        console.log(e.which); // najprymitywniejszy sposób podglądania parametrów
        console.log(book_content.charAt(0));
        console.log('koniec wpisu');

        if (String.fromCharCode(e.which /*|| e.keyCode*/) === book_content.charAt(0)) {   
            //debugger; // postawi breakpoint`a w tym miejscu kodu

            document.getElementById('typed_content').innerHTML += book_content.charAt(0);
            document.getElementById('book_content').innerHTML = book_content.substr(1);
        } // jakby brakowalo petli - po wyjsciu if`a
        
    };

    //document.onkeypress = function (evt) { // wzór
    //    evt = evt || window.event;
    //    var charCode = evt.which || evt.keyCode;
    //    var charTyped = String.fromCharCode(charCode);
    //    alert("Character typed: " + charTyped);
    //};
</script>





// ToCheck: https://www.youtube.com/watch?v=_Szdctv38Ow
